Your Application backed by following technologies
<h5 class="text-info">Frontend</h5>
<ul class="inline">
  <li>EmberJS</li>
  <li>CoffeeScript</li>
  <li>Twitter Bootstrap</li>
  <li>Font Awesome <i class="icon-spinner icon-spin"></i></li>
  <li>SASS</li>
</ul>
<h5 class="text-info">Backend</h5>
<ul class="inline">
  <li>ExpressJS (NodeJS Framework)</li>
</ul>

And <b class="text-info">Brunch</b>, an awesome HTML5 application Assembler

<!-- Cleanup the file as you desire -->
{{outlet}}